<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team13.campusmitra">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChangeOfficeHours">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditRoomsDetails" />
        <activity android:name=".RoomListDisplayActivity" />
        <activity
            android:name=".LabPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacultyProfileDisplay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentProfileDisplay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddReasearchLabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VacantRoomDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignInSplash"
            android:screenOrientation="portrait">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".OpenDialogue"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ApproveFacultyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacultyExternalDisplayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentExternalDisplay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserListDisplayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddCourseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddTimeTableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashboardAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashboardProfessor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectCoursesRecyclerViewAdaptor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectCoursesRecyclerView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacultyCourseTakenRecyclerView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacultyProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GotoAddEditRL"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OCRActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResearchLabsRecyclerView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LabsRecyclerView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Rooms"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Add_Project"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignIn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".R_Lab"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Regular_Labs"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>