<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team13.campusmitra">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddReasearchLabActivity"></activity>
        <activity android:name=".SignInSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StudentProfileDisplay" />
        <activity
            android:name=".NavDrawerProf"
            android:label="@string/title_activity_nav_drawer_prof"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".OpenDialogue" />
        <activity android:name=".ApproveFacultyActivity" />
        <activity android:name=".FacultyExternalDisplayActivity" />
        <activity android:name=".StudentExternalDisplay" />
        <activity android:name=".UserListDisplayActivity" />
        <activity android:name=".AddCourseActivity" />
        <activity android:name=".AddTimeTableActivity" />
        <activity android:name=".DashboardAdmin" />
        <activity android:name=".DashboardProfessor" />
        <activity android:name=".SelectCoursesRecyclerViewAdaptor" />
        <activity android:name=".SelectCoursesRecyclerView" />
        <activity android:name=".TestActivity" />
        <activity android:name=".FacultyCourseTakenRecyclerView" />
        <activity android:name=".FacultyProfile" />
        <activity android:name=".SplashActivity"></activity>
        <activity android:name=".OCRActivity" />
        <activity android:name=".ResearchLabsRecyclerView" />
        <activity android:name=".NewDashboard" />
        <activity android:name=".LabsRecyclerView" /> <!-- <activity android:name=".VerifyActivity" /> -->
        <activity android:name=".StudentProfile" />
        <activity android:name=".UserProfile" />
        <activity android:name=".Rooms" />
        <activity
            android:name=".Add_Project"
            android:exported="true" />
        <activity android:name=".SignUp" />
        <activity android:name=".SignIn" />
        <activity
            android:name=".R_Lab"
            android:exported="true" />
        <activity
            android:name=".Regular_Labs"
            android:exported="true" />
    </application>

</manifest>